<div ng-controller="AdminController as vm">
    <md-content layout="row">
            <md-autocomplete
                    class="md-autocomplete"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.selectedAircraft"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(aircraft)"
                    md-items="aircraft in vm.querySearch(vm.searchText)"
                    md-item-text="aircraft.name"
                    md-min-length="0"
                    placeholder="Select an Aircraft to Enqueue"
                    md-menu-class="aircraftSelectCustomTemplate">
                <md-item-template>
                      <div class="aircraft-name">
                          <i class="material-icons nav-icon">flight_takeoff</i>
                          <span class="aircraft-name"> {{aircraft.name}}</span>
                      </div>
                          <div class="aircraft-details">
                                <span class="aircraft-size">Size: {{aircraft.size}}</span>
                                <span class="aircraft-type">Type: {{aircraft.type}}</span>
                          </div>
                     </span>
                </md-item-template>
            </md-autocomplete>
    </md-content>
    <md-button ng-click="vm.enqueueAircraft(vm.selectedAircraft)" ng-disabled="!vm.selectedAircraft" class="md-raised md-primary enqueue-button">Enqueue Selected Aircraft</md-button>
    <md-button ng-click="vm.dequeueAircraft()" class="md-raised md-primary md-warn dequeue-button">Dequeue Aircraft</md-button>



</div>
