/* side navigation */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size:14px;
    font-weight: 300;
    height:100%;
    margin: 0px;
    padding: 0px;
}

.menu {
    padding-top: 10px;
}

.app-header {
    padding-right: 20px;
}

.content-wrapper {
    padding: 10px;
}

.start-button {
    margin-top: 100px;
    padding: 10px 30px;
}

.nav-button {
    text-align: left;
    padding: 5px 5px 5px 10px;
}

.nav-icon {
    position:relative;
    top: 5px;
    padding-right: 10px;
}

.md-autocomplete {
    min-width: 80%;
    padding: 10px;
}

.enqueue-button {
    margin-top: 40px;
    min-width: 200px;
}

.enqueue-button {
    margin-top: 40px;
    min-width: 300px;
}

.dequeue-button {
    margin-top: 50px;
    min-width: 300px;
}


.aircraftSelectCustomTemplate li {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.aircraftSelectCustomTemplate  li:last-child {
    border-bottom-width: 0;
}

.aircraftSelectCustomTemplate .aircraft-name {
    font-weight: 300;
    font-size: 16px;
}
.aircraftSelectCustomTemplate .aircraft-size,
.aircraftSelectCustomTemplate .aircraft-details {
    padding: 0 10px 0 0;
}

.status-table {
    width: 95%;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
}


.status-table tr {
    border-bottom: 1px solid #ccc;
}

.status-table-header  {
    border-bottom: 2px solid #ccc;
}

.md-cell {
    padding: 20px 5px;
    text-align: left;
}

.md-column-header {
    padding: 20px 5px;
    text-align: left;
    font-weight: 400;
}


